
html, body {
  font-family: calibri;
}
.section {
  display: block;
  vertical-align: top;
}
.box {
  display: inline-block;
  vertical-align: top;
}
.padding {
  padding: 1vh;
}
.margin {
  margin: 1vh;
}
.border {
  border: 1px solid #ddd;
}
.mytable {
  border-collapse: collapse;
}
.mytable td {
  border: 1px solid #ddd;
  padding: 1vh;
}
.untable td {
  border: none;
  padding: 0;
}
.untable td {
  text-align: left;
}
.comment {
  color: #2b2f;
}
.myinputs {
  padding: 0.5vh;
}
pre {
  padding: 1vh;
}

.abc {
  font-family: monospace;
  padding: 1vh;
}
.inline-code {
  font-family: monospace;
  padding: 3px;
  background-color: #eee;
}
.myoutputs {
  text-align: center;
}
